<div class="top_right_controls">
	<%= link_to 'New Photo', new_photo_path, :class => 'btn btn-info' %>
</div>

<div class="page_header">
	<h1>Photos</h1>
</div>

<section class="page_content">
	<div id="sortable_photos">
		<% @photos.asc(:position).each do |photo| %>
			<div class="index_item photo_index_item" id="photo_<%= photo.id %>">
				<div class="controls">
					<%= link_to 'Delete', photo_path(photo), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
					<%= link_to 'Edit', edit_photo_path(photo), :class => 'btn btn-warning' %>				
				</div>
				<div class="photos_index_image">
					 <%= image_tag photo.cover_image.url %>
				</div>
				<%= link_to photo.caption, edit_photo_path(photo) %>
			</div>
		<% end %>
	</div>
</section>